<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Server.Properties.Settings>
      <setting name="ip" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value>9999</value>
      </setting>
      <setting name="sensitivity" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="autostart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autohide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="serialConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="serialPort" serializeAs="String">
        <value>COM17</value>
      </setting>
      <setting name="scrollSpeed" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="mediaPlayer" serializeAs="String">
        <value>Windows Media Player</value>
      </setting>
    </Server.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="SendKeys" value="SendInput"/>
  </appSettings>
</configuration>

